
/* 设置header中的top-container部分 */
header .top-container{
    background-color: #333333;
    color: #3f423c;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
}

.top-container a{
    display: block;
    color: #b0b0b0;
}

.top-container a:hover{
    color: #fff;
}

.topNav .split-line{
    margin: 0 8px;
}

.topNav .left-nav li{
    float: left;
}

.topNav .right-nav li{
    float: left;
}


.topNav .shopping-cart{
    height: 40px;
    width: 120px;
    text-align: center;
    background-color: #424242;
    margin-left: 25px;
}

.topNav .shopping-cart:hover a{
    color: #ff6700;
    background-color: #fff;
}

/* 设置顶部导航下拉框 */
.download-app{
    position: relative;
}

.download-app:hover .text-app::after{
    display: block;
}

.download-app .text-app::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    display: none;
}

.download-app .qrcode{
    position: absolute;
    left: -39px;
    height: 148px;
    width: 124px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    box-shadow: 0 0 2px #333 ;
    display: none;

}

.download-app .qrcode img{
    margin-top:16px ;
    width: 90px;

}
